<section class="container grid-960">

  <header class="navbar">
    <section class="navbar-section">

      <a href="#" class="btn navbar-brand">RPG Collab</a>

      <a href="#" class="btn btn-link" [routerLink]="['/dashboard']">Dashboard</a>
      <a href="#" class="btn btn-link" [routerLink]="['/projects']">Projects</a>

    </section>
    <section class="navbar-section">
      <a href="#" [routerLink]="['/createProject']" class="btn btn-primary">Create Project</a>
      <figure class="avatar ml-10 mr-10">
        <img src="card_back.jpg" />
      </figure>

    </section>

  </header>


    <router-outlet></router-outlet>


</section>