<div class="columns">
  <div *ngFor="let project of projects" (click)="gotoDetail(project)" class="column col-4">

    <div class="card">

      <div class="card-image">
        <img src="sample1.png" class="img-responsive" alt="Card image cap">
      </div>


      <div class="card-header">
        <h4 class="card-title">{{project.name}}</h4>
        <h6 class="card-meta">I need a hero</h6>
      </div>

      <div class="card-body">
        {{project.description}}
      </div>

      <div class="card-footer">
        <button href="#" class="btn btn-primary">View Detail</button>
      </div>
    </div>
  </div>
</div>