<section>

<h2>My Heroes</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Hero</th>
      <th>Hero ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <td>{{hero.name}}</td>
      <td>{{hero.id}}</td>
      <td><button (click)="deleteHero(hero, $event)">Delete</button></td>
    </tr>
  </tbody>
</table>
</section>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addHero()">Add New Hero</button>
<div *ngIf="addingHero">
  <my-hero-detail (close)="close($event)"></my-hero-detail>
</div>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

